name: Cleanup Old GHCR Images

on:
  schedule:
    # Runs every Sunday at 00:00 UTC
    - cron: '0 0 * * 0'
  workflow_dispatch: # Allows you to run this manually for testing

jobs:
  clean-ghcr:
    runs-on: ubuntu-24.04
    permissions:
      packages: write

    steps:
      - name: Delete images older than 30 days and untagged
        uses: snok/container-retention-policy@v3.0.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          account: user
          image-names: 'deimos'
          
          # Delete versions older than 20 days
          cut-off: 20d
          dry-run: false

          # Filter out important tags
          image-tags: "!latest* !stable* !v*"